@import "reset.scss";
@import "common.scss";
@import "header.scss";
@import "nav.scss";
@import "bottom.scss";
@import "footer.scss";
@import "xiangqing.scss";





.tabs {
	display: none;
	height: 574px;
}

.bb1 {
					    float: left;
					    display: block;
					    width: 140px;
					    background: url(../img/tabsbg.jpg) no-repeat!important;
					    height: 34px;
					    line-height: 34px;
					    text-align: center;
					    cursor: pointer;
					    }

					    .bb2 {
					    	display: block;
						    background: url(../img/btnGroup.gif) no-repeat 0px -262px!important;
						    width: 140px;
						    color: #fff;
						    height: 34px;
						    line-height: 34px;
					    }
