#footer {
	width: 100%;
	margin-top: 30px;
}


#footer_con {
	width: $width;
	margin: 0 auto;
	font-size: 12px;


	.f_top {
		    width: 880px;
		    border-bottom: 1px solid #ccc;
		    height: 130px;
		    clear: both;
		    margin: 0 auto;
		    padding: 0 160px 0 160px;
		    box-sizing: content-box;

		    li {
		    	    width: 140px;
				    height: 110px;
				    float: left;
				    margin: 0 40px;

				    img {
				    	    width: 108px;
						    height: 50px;
						    margin-bottom: 10px;
						    margin-left: 16px;
				    }
				    p {
				    	    text-align: center;
						    line-height: 20px;
						    height: 20px;
						    font-size: 13px;
						    color: #444;
						    font-family: microsoft yahei;
				    }
		    }
	}

	.footer_bottom {
		    text-align: center;
		    line-height: 44px;
		    height: 44px;
		    font-size: 14px;
		    color: #444;
		    font-family: microsoft yahei;
	}
}