#good_car {
	width: 100%;
}


#good_car_con {
	    width: 950px;
	    margin-right: auto;
	    margin-left: auto;
	    font-size: 12px; 

	    .nav {
	    	height: 28px;
		    background-image: url(../img/cart-icon.png);
		    background-repeat: no-repeat;
		    background-position: 10px 5px;
		    padding-top: 40px;
		    padding-left: 610px;
		    box-sizing: content-box;


	    	.nav_items {
	    		margin: 0px;
			    float: right;
			    display: block;
			    height: 16px;
			    list-style-type: none;
			    padding: 0px;
			    width: 275px;
			    overflow: hidden;


	    		li {
					height: 16px;
				    display: block;
				    float: left;
				    margin: 0px;
				    padding-top: 0px;
				    padding-right: 6px;
				    padding-bottom: 0px;
				    padding-left: 6px;
				    text-decoration: none;
				    border-right-width: 1px;
				    border-right-style: solid;
				    border-right-color: #CCCCCC;
				    line-height: 16px;
				    box-sizing: content-box;

				    a {
				    	color: #999;

				    	&:hover {
				    		color: #333333;
    						text-decoration: underline;
				    	}
				    }
	    		}
	    	}
	    }

	    .tb_outer {
	    	 border: 1px solid #CCCCCC;
	    	 position: relative;

	    	 .ad {
					position: absolute;
					font-size: 12px;
    				text-align: center;
    				border: 1px solid #F2A251;
				    background-color: #FFF9B0;
				    line-height: 20px;
				    padding: 5px;
				    box-sizing: content-box;
				    opacity: 0.85;
				    z-index: 100;
				    left: 647px;
    				top: 85px;
    				display: none;

    				p {

    					span {
    						font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
						    font-weight: bold;
						    color: Red;
    					}
    					a {

    					}
    				}

		    	}


	    	.tb_bottom {
	    		text-align: right;
	    		font-size: 14px;
	    		color: #333;
	    		font-weight: bold;
	    		padding-right: 6px;

	    		span {
	    			color: #FF0000;
   					font-size: 12px;
	    		}
	    	}


	    	.tb {

		    	width: 948px;
			    text-align: center;
			   
			    padding-bottom: 10px;
		    	box-sizing: content-box;
		    	

		    	

		    	thead {

		    		tr {
						background-image: url(../img/cart-tip-bg.png);
					    background-repeat: repeat-x;
					    background-position: top;
					    height: 33px;
					    text-align: center;
					    color: #333333;
					    td {
					    	text-align: center;
					    }
		    		}
		    		
		    	}

		    	tbody {





		    		tr {

		    			
		    			td {
		    				text-align: center;
		    				border-bottom-width: 1px;
						    border-bottom-style: dashed;
						    border-bottom-color: #CCCCCC;
						    padding-bottom: 5px;
						    padding-top: 5px;
						    box-sizing: content-box;

		    				&:nth-of-type(2) {
		    					text-align: left;
		    				}


		    				a {
		    					color: #003399;

		    					&:hover {
		    						color: #FF9900;
	    							text-decoration: underline;
		    					}

		    				}

		    				input {
				    			text-align: center;
				    			box-sizing: content-box;
							    font-size: 12px;
							    width: 30px;
							    padding-top: 2px;
							    padding-bottom: 2px;
							    color: Blue;
							    font-weight: bolder;
				    		}

		    			}
		    		}
		    		
		    	}
		    }
	    }

	    .good_bottom {
	    	margin-top: 15px;

	    	overflow: hidden;
	    	.gb_left {
	    		float: left;
	    	}

	    	.gb_right {
	    		float: right;
				
				a {
					vertical-align: middle;
				}
				img {
					vertical-align: middle;
				}

	    	}
	    }
}