#good_list {
	width: 100%;
}


#good_list_con {
	width: $width;
	margin: 0 auto;


	.g_top {
		line-height: 34px;
	    color: #999;
	    width: 980px;
	    height: 34px;
	    margin-top: 15px;

	    .not_active_a a{
	    	color: #333;
	    	font-size: 12px;
	    }

	    .active_a a {
	    	color: #4e7fc2;
	    	font-size: 12px;
	    }
	}

	.g_main {
		min-height: 500px;
		height: auto!important;
		height: 500px;
		overflow: hidden;

		.g_main_left {

			float: left;
			width: 230px;

			.g_more_level {
				width: 228px;
			    border: 1px solid #e4e4e4;
			    color: #333;
			    font-size: 12px;

			    .f {
					color: #333;
			    	width: 228px;
				    background: url(../img/h3bg.jpg) repeat-x;
				    height: 36px;
				    line-height: 36px;
				    cursor: pointer;
				    font-size: 13px;
				    font-weight: bold;

				    .more_img {
				    	background: url(../img/detail.gif) no-repeat 0 -248px;
					    width: 15px;
					    height: 14px;
					    float: left;
					    margin: 10px 10px 0px 12px;
				    }

				    .more_img_1 {
				    	background-position-y: -234px;
				    }

				    .more_num {
				    	font-size: 12px;
					    color: #999;
					    font-weight: normal;
					    margin-left: 2px;
				    }
			    }

			    .s {
			    	width: 154px;
				    border-bottom: 1px solid #e4e4e4;
				    padding: 8px 37px;
				    box-sizing: content-box;
				    display: none;

				    &>li {
				    	line-height: 26px;
					    height: 26px;
					    cursor: pointer;

					    &>a {
					    	color: #333;

					    	&:hover {
					    		color: #ff1a3a;
					    	}
					    }

					    &>span {
					    	    font-size: 12px;
							    color: #999;
							    font-weight: normal;
							    margin-left: 2px;
					    }
				    }
			    }

			    .s_show {
			    	display: block;
			    }

			}

			.week_rank {
				width: 228px;
			    border: 1px solid #e4e4e4;
			    margin-top: 10px;


			    &>h3 {
			    	width: 226px;
				    height: 33px;
				    line-height: 33px;
				    margin: 1px;
				    background: url(../img/p2lbg.jpg) repeat-x;
				    color: #333;
				    font-family: microsoft yahei;
				    font-size: 14px;
				    font-weight: bold;
				    text-align: center;
				    border-bottom: 1px solid #e4e4e4;
			    }

			    .week_rank_items {
			    	&>li {
				    	border-bottom: 1px dashed #e4e4e4;
					    text-align: center;
					    padding: 6px;
					    width: 216px;

					    &:last-child {
					    	border-bottom: none;
					    }

					    img {
					    	width: 120px;
    						height: 120px;
					    }

					    .title {
					    	    width: 210px;
							    overflow: hidden;
							    text-overflow: ellipsis;
							    white-space: nowrap;
							    text-align: center;
							    padding: 0 3px;
							    box-sizing: content-box;
							    line-height: 20px;
							    font-size: 12px;
							    color: #666;
					    }

					    .price {
					    	    font-family: microsoft yahei;
							    color: #ff1a3a;
							    font-size: 14px;
							    font-weight: bold;
					    }
			    	}
			    }


			}

			.user_has_buy {

				width: 228px;
			    border: 1px solid #e4e4e4;
			    margin-top: 10px;
				&>h3 {
					width: 226px;
				    height: 33px;
				    line-height: 33px;
				    margin: 1px;
				    background: url(../img/p2lbg.jpg) repeat-x;
				    color: #333;
				    font-family: microsoft yahei;
				    font-size: 14px;
				    font-weight: bold;
				    text-align: center;
				    border-bottom: 1px solid #e4e4e4;
				}

				&>ul>li {
					padding: 15px 10px;
				    margin-bottom: 0px;
				    width: 208px;
				    height: 82px;
				    overflow: hidden;
				    box-sizing: content-box;
				    border-bottom: 1px dashed #e4e4e4;
    				text-align: center;

    				&:last-child {
    					border-bottom: none;
    				}

    				img {
    					width: 82px;
    					height: 82px;
    					float: left;
    					margin-right: 18px;
    				}

    				.title {
    					    text-align: left;
						    height: 30px;
						    overflow: hidden;
						    line-height: 16px;
						    font-size: 12px;
						    color: #666;
    				}

    				.price {
    					text-align: right;
					    margin-top: 8px;
					    font-family: microsoft yahei;
					    color: #ff1a3a;
					    font-size: 14px;
					    font-weight: bold;
    				}
				}
			}
		}

		.g_main_right {

			width: 960px;
    		float: right;

			.select {
				width: 914px;
			    border: 3px solid #f4f4f4;
			    
			    padding: 20px;
			    padding-bottom: 15px;

			    .brand {
					position: relative;
					border-bottom: 1px solid #f4f4f4;
					padding-bottom: 10px;
					box-sizing: content-box;


			    	.more_brand {
			    		
			    		    float: right;
			    		    font-size: 12px;
						    width: 46px;
						    padding-left: 10px;
						    height: 20px;
						    line-height: 20px;
						    border: 1px solid #e0dee0;
						    border-radius: 2px;
						    background: #F7F7F7 url(../img/b.jpg) no-repeat 38px 8px;
						    cursor: pointer;
						    color: #333;
						    box-sizing: content-box;
			    	}

			    	dl {
			    		dt {
			    			overflow: hidden;

			    			.brand_types {
			    				width: 70px;
							    text-align: right;
							    color: #000;
							    font-weight: bold;
							    line-height: 24px;
							    font-size: 12px;
							    float: left;
							    font-family: arial,\5b8b\4f53;
							    position: relative;

							    
			    			}

			    			.brand_type {
			    				float: left;
							    height: 20px;
							    border: 1px solid #fff;
							    margin-right: 3px;
							    padding: 0px 10px;
							    line-height: 20px;
							    font-family: Verdana;
							    cursor: pointer;
							    color: #0066cc;
							    font-size: 12px;
							    position: relative;

							 

							    .brand_xia {
									width: 0;
									height: 0;
									border-width: 5px;
									border-color: #02a3f0 transparent transparent;
									border-style: solid;
									position: absolute;
									z-index: 2;
									bottom: -10px;
									left: 50%;
									margin-left: -5px;
									


							    }
			    			}
			    		}

			    		dd {
			    			overflow: hidden;

			    			margin-left: 110px;
			    			div {
			    				
			    				
			    				width: 125px;
							    overflow: hidden;
							    white-space: nowrap;
							    height: 20px;
							    padding-top: 4px;
							    float: left;
							    margin-left: 20px;
							    box-sizing: content-box;

							    a {
									color: #0066cc;
									font-size: 12px;
			    					font-family: arial,\5b8b\4f53;

			    					&:hover {
			    						color: #fff;
    									background: #02a3f0;
			    					}
							    }

							    
			    			}
			    		}
			    	}
			    }

			    .price {
			    	box-sizing: content-box;
			    	padding-bottom: 15px;
			    	padding-top: 5px;

			    	dl {
			    		dt {





			    			.price_types {
			    				width: 70px;
							    text-align: right;
							    color: #000;
							    font-weight: bold;
							    line-height: 24px;
							    font-size: 12px;
							    float: left;
							    font-family: arial,\5b8b\4f53;
							    position: relative;
			    			}

			    			.price_type {
			    				float: left;
							    height: 20px;
							    border: 1px solid #fff;
							    margin-right: 3px;
							    padding: 0px 10px;
							    line-height: 20px;
							    font-family: Verdana;
							    cursor: pointer;
							    color: #0066cc;
							    font-size: 12px;
							    position: relative;

							    
			    			}
			    		}
			    	}



			    }



			}

			#paixu {

				margin-top: 10px;
			    width: 938px;
			    height: 26px;
			    background: url(../img/filbg.jpg) repeat-x;
			    border: 1px solid #eee;
			    border-top: 2px solid #15ade0;
			    
			    padding: 5px 10px;
			    box-sizing: content-box;


					

			    	.paixu {
			    		float: left;
    					line-height: 26px;
    					font-size: 12px;
    					color: #666;
    					font-family: arial,\5b8b\4f53;

    					.paixu_types {
							float: left;
	    					line-height: 26px;
	    					font-size: 12px;
						    color: #666;
						    font-family: arial,\5b8b\4f53;
						}


    					.paixu_type {
    						height: 24px;
						    border: 1px solid #CECBCE;
						    background: #f6f6f6;
						    border: 1px solid #cecbce;
						    margin-right: 5px;
						    line-height: 24px;
						    padding: 0 10px;
						    float: left;
						    font-size: 12px;
						    color: #666;
						    box-sizing: content-box;

						    &:hover {
						    	text-decoration: underline;
						    }


    					}
			    	}

			    	.fenye {
			    		float: right;


			    		.goods_num {
			    			float: left;
						    height: 22px;
						    padding: 2px 15px 2px 0;
						    line-height: 22px;
						    font-family: verdana;
						    color: #fc1c5a;
						    font-size: 12px;
						    box-sizing: content-box;
			    		}

			    		.yema {
			    			float: left;
						    margin-left: 2px;
						    font-family: arial;
						    border-left: 1px solid #e7e3e7;
						    padding-left: 10px;
						    padding-right: 10px;
						    box-sizing: content-box;
						   
						    
						    background: #f8f8f8;
						    height: 22px;
						    line-height: 22px;
						    color: #005aa0;
						    margin-top: 2px;
						    font-size: 12px;

						    &>span {
						    	color: red;
						    }
			    		}

			    		.pre,.next {
			    			float: left;
						    padding: 3px 10px;
						    border: 1px solid #ccc;
						    margin-left: 2px;
						    font-family: arial;
						    overflow: hidden;
						    border-radius: 3px;
						    background: #f8f8f8;
						    height: 14px;
						    line-height: 14px;
						    color: #005aa0;
						    margin-top: 2px;
						    box-sizing: content-box;
						    font-size: 12px;
						    cursor: pointer;
			    		}
			    	}

			    }

			    .goods_box {

			    	.goods_items {
			    		width: 960px;
    					margin: 10px 0;
    					font-size: 12px;
					    color: #666;
					    overflow: hidden;



					    li {
					    	width: 214px;
						    float: left;
						    background: #fff;
						    padding: 13px;
						    box-sizing: content-box;

					    	&:hover {
					    		background: #f4f4f4;
					    	}

					    	img {
					    		width: 200px;
					    		height: 200px;
					    		padding: 7px;
							    width: 200px;
							    height: 200px;
							    background: #fff;
							    box-sizing: content-box;

					    	}

					    	.title {
					    		line-height: 18px;
							    height: 36px;
							    overflow: hidden;
					    		a {
					    			font-size: 12px;
					    			color: #666;

					    			&:hover {
					    				color: #ff1a3a;
    									text-decoration: underline;
					    			}
					    		}
					    	}

					    	.price {
					    		color: #ff1a3a;
							    font-size: 14px;
							    font-family: microsoft yahei;
							    font-weight: bold;
							    margin: 10px 0 3px 0;

							    .good_price {
							    	font-family: verdana;
    								font-size: 16px;
							    }

							    .good_zhe {
							    	font-family: simsun;
								    font-size: 12px;
								    font-weight: normal;
							    }
					    	}

					    	.good_btns {
					    		.add_car {
					    			    display: block;
									    float: left;
									    padding: 0 15px;
									    height: 24px;
									    line-height: 24px;
									    border-radius: 3px;
									    background: #fc1c5a;
									    text-align: center;
									    box-sizing: content-box;
									    color: #fff;
					    		}

					    		.good_collect {
					    			display: block;
								    float: left;
								    padding: 0 15px;
								    border-radius: 3px;
								    text-align: center;
								    background: #efefef;
								    color: #666;
								    margin-left: 10px;
								    border: 1px solid #dfdfdf;
								    height: 22px;
								    line-height: 22px;
								    font-size: 12px;
					    		}
					    	}
					    }
			    	}
			    }
		}







	}




}