#limit {
	width: 100%;
	margin-top: 180px;
}



#limit_con {
	width: $width;
	margin: 0 auto;
	position: relative;

	.limit_title {
		padding-top: 30px;
		padding-bottom: 4px;
		border-bottom: 2px solid #ff8c8f;
		margin-bottom: 5px;
	}

	.limit_time {
		overflow: hidden;
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;


		dl {
			width: 287px;
			height: 435px;
			float: left;
			border: 1px solid #666;
			margin-right: 10px;
			position:relative;

			&:hover {
				border-color: #ff1a3a;
			}


			.time {
				    background: #f8f7f5 url(../img/clock.jpg) no-repeat 33px 5px;
					padding-left: 73px;
					height: 38px;
					font-size: 12px;
					line-height: 38px;
					color: #666;

					span {
						color: #ff1a3a;
						font-size: 18px;
						font-weight: bold;
						padding: 0 5px;

					}
			}

			.time_body {


				p {
					font-weight: bold;
				    line-height: 18px;
				    height: 32px;
				    padding: 0 13px;
				    width: 261px;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    font-size: 12px;
				}
			}

			.dollar {
				height: 50px;
				background: url(../img/i_03.jpg) no-repeat left top;
				color: #fff;
				font-size: 18px;
				text-indent: 80px;
				font-weight: bold;

				span {
					font-size: 32px;
					
				}
			}

			.num_people {
				position: absolute;
				line-height: 20px;
				height: 22px;
				bottom: -1px;
				text-align: right;
				font-size: 12px;
				color: #666;
				background: #fff;
				width: 289px;
				left: -1px;

				span {
					color: #ff1a3a;
					font-size: 14px;
					font-weight: bold;
					font-family: Arial;
					margin-right: 4px;

				}
			}
		}
	}



}